.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__title {
        font-size: 32px;
        color: $text_color;
        text-align: left;
    }
    &__item {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 32px;
    }
    &__list {
        color: $text_color;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        padding: 0;
        &__item {
            
        }
    }
}