.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__title {
        font-size: 32px;
        color: $text_color;
        text-align: left;
    }
    &__item {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 85px;
        margin: 32px;
        &:nth-child(1) {
            background: url('/img/icons/spot.svg') top left  no-repeat;
        }
        &:nth-child(2) {
            background: url('/img/icons/easyEx.svg') top left  no-repeat;
        }
        &:nth-child(3) {
            background: url('/img/icons/wallet.svg') top left  no-repeat;
        }
        &:nth-child(4) {
            background: url('/img/icons/exchange.svg') top left  no-repeat;
        }
        &:nth-child(5) {
            background: url('/img/icons/partners.svg') top left  no-repeat;
        }
    }
    &__list {
        color: $text_color;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
        padding: 0;
    }
}