::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 0; /* высота для горизонтального скролла */
    background-color: $bg_color;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $main_color;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $hover_color;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: $text_color;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
        background-color: $text_color;

}
