body {
    font-family: Montserrat, sans-serif;
    background: $bg_color;
    user-select: none;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.section-title {
    margin-bottom: 120px;
    font-weight: 700;
    font-size: 180px;
    background: radial-gradient(206.43% 206.43% at 50% -20.36%, #141E1E 0%, #0F1415 100%);
    background-clip: text;
    mix-blend-mode: screen;
    text-transform: uppercase;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
}

.bold {
    font-weight: 700;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &-cta {
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: 700;
        padding: 13px 60px 14px 60px;
        background-color: $main_color;
        border-radius: 10px;
        font-size: 14px;
        color: $bg_color;
        z-index: 1;
        transition: background-color .5s ease;
        position: relative;
        overflow: hidden;
        &:hover {
            background-color: $hover_color;
        }
    }
}