.about {
    margin: 120px 0;
    padding: 80px 0 40px 0;
    text-align: center;
    background: rgba(46, 76, 78, 0.5);
    box-shadow: inset 1px 1px 4px $main_color;
    border-radius: 10px;
    position: relative;
    &::after {
        position: absolute;
        top: -120px;
        left: -40%;
        content: "";
        width: 140%;
        height: 160%;
        z-index: -1;
        background: url('/img/noise.png') center / cover no-repeat;
    }
    &__title {
        max-width: 740px;
        margin: 40px auto 24px;
        font-size: 18px;
        font-weight: 400;
        color: $text_color;
    }
    &__list {
        max-width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        &__item {
            font-size: 18px;
            text-transform: uppercase;
            color: $second_text_color;
            padding: 28px;
            position: relative;
            &:not(.about__list__item:last-child)::after {
                content: '';
                width: 2px;
                height: 120px;
                background: $second_text_color;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.buy {
    text-align: center;
    color: $text_color;
    border-top: 1px solid $main_color;
    padding: 45px 0 0 0;
    margin-bottom: 120px;
    &__title {
        max-width: 655px;
        margin: auto;
        font-size: 43px;
        font-weight: 700;
    }
    &__span {
        font-size: 26px;
        font-weight: 700;
    }
}