.trading {
    display: flex;
    background-color: $alt_bg_color;
    margin: 140px 0 120px 0;
    position: relative;
    z-index: 5;
    &__text{
        max-width: 860px;
        margin-bottom: 64px;
        text-align: center;
        line-height: 115%;
        color: $text_color;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url('/img/blur.webp') center / cover no-repeat;
    }
}